.header{
    display: flex;
    flex-direction: column;
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 40, 108);
    color: white;
    height: 40px;
}
.contact-info{
    margin-left: 40px;
    display: flex;
    gap: 40px;
}
.faq{
    margin-right: 40px;
    display: flex;
    gap: 40px;
}
.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-top: 20px;
}
.search-box > img{
    width: 130px;
    height: 60px;
    margin-left: 30px;
}
.profile-icon , .basket{
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    padding: 8px;
}
.profile-icon > img{
    width: 20px;
    height: 20px;
}
.basket > img{
    width: 20px;
    height: 20px;
}
.profile{
    display: flex;
    gap: 30px;
    margin-right: 30px;
}
.input-search{
    position: relative;
    display: flex;
    align-items: center;
}
.input-search::after{
    content: "All Category";
    width: 100px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    color: rgb(162, 162, 162);
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    border-left: 1px solid rgb(162, 162, 162);
}
.input-search > img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
}
.input-search > input{
    width: 800px;
    height: 40px;
    border-radius: 30px;
   border: 1px solid rgb(162, 162, 162);
}
.navbar{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    margin-right: 30px;
   display: flex;
   gap: 30px;
   font-weight: 500;
}
.categories{
    margin-left: 70px;
    font-weight: 500;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    padding: 8px;
    text-align: center;
}
::placeholder{
    padding-left: 40px;
}
